<header>
  <a href="#menu" class="menu-trigger" data-icon="&#xe001;"></a>
  <p class="credit-callout">Credits</p>
  <aside class="credits">

    <div class="m8m-logo">
      <a href="http://middle8media.com"><img src="../img/m8m-presents.png" alt="Middle8Media Logo"></a>
      <h2>The Ring Falcon Trilogy</h2>
    </div> <!-- end m8m-logo -->

    <div class="cast">
      <h3>Starring:</h3>
      <ul>
        <li>Liam McCarthy</li>
        <li>Gray McCarthy</li>
        <li>Rowe Farrand</li>
        <li>Zack Farrand</li>
        <li>Dylan Farrand</li>
        <li>Ben Ask</li>
        <li>Maggie Ask</li>
        <li>Emma Cate Ask</li>
        <li>Canain Stanley</li>
        <li>Chloe Stanley</li>
        <li>Singer London Stanley</li>
        <li>Lea Harrington</li>
        <li>Quinn Harrington</li>
        <li>Wes Harrington</li>
        <li>Abby Estes</li>
        <li>Levi Estes</li>
        <li>Anna Ward</li>
        <li>Ben Ward</li>
        <li>Abram Swenson</li>
        <li>Brummett Swenson</li>
        <li>Joanna Grace Knorpp</li>
        <li>Seth Hall</li>
        <li>Jerry Updyke</li>
        <li>Oren the Owl</li>
      </ul>
    </div> <!-- end cast -->

    <div class="collaborators">
      <h3>Collaborators:</h3>
      <ul>
        <li>RF Kids</li>
        <li>RF Families</li>
        <li>Elizabeth Hall</li>
        <li>Kevin Estes</li>
        <li>Paul Swenson</li>
      </ul>
    </div> <!-- end collaborators -->

    <div class="thanks">
      <h3>Tech Specs:</h3>
      <ul>
        <li>RF I - Mino Flip HD</li>
        <li>RF II - iPhone 4</li>
        <li>RF III - iPhone 4s</li>
        <li>Final Cut Studio</li>
      </ul>
    </div> <!-- end thanks -->

  </aside> <!-- end aside -->

  <div class="logo">
    <a href="/"><img src="../img/logo.png" alt="The Ring Falcon Trilogy Logo"></a>
  </div> <!-- end rf-logo -->

</header> <!-- end header -->
